<div class="row">
  <div class="col-xs-12">
    <blockquote>
      <h4>SECURITY DASHBOARD</h4>
      <small>Here you can see the status of the exisitng user in the application. You can add the new user and edit the existing users</small>
    </blockquote>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li><a [routerLink]="['/']">HOME</a></li>
      <li class="active">USER ACCESS MANAGEMENT</li>
    </ol>
  </div>
</div>
<form [formGroup]="userForm" (ngSubmit)="saveUser(userForm)">
  <div class="container pull-left">
    <button type="button" class="btn btn-primary button-spacing" (click)="addUser()">New User</button>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="col-xs-2">
          <input class='form-control' [(ngModel)]="currentUser.username" formControlName="username" type="text" placeholder="Username"
            required>
          <div *ngIf="!this.userForm.controls['username'].valid && this.userForm.controls['username'].touched && this.userForm.controls['username'].hasError('required')"
            class="error">Username is required.
          </div>
        </div>
        <div class="col-xs-2"><input class='form-control' [(ngModel)]="currentUser.first_name" formControlName="firstname" type="text" placeholder="First Name"
            required>
          <div *ngIf="!this.userForm.controls['firstname'].valid && this.userForm.controls['firstname'].touched && this.userForm.controls['firstname'].hasError('required')"
            class="error">First name is required.
          </div>
        </div>

        <div class="col-xs-2"><input class='form-control' [(ngModel)]="currentUser.last_name" formControlName="lastname" type="text" placeholder="Last Name"
            required>
          <div *ngIf="!this.userForm.controls['lastname'].valid && this.userForm.controls['lastname'].touched && this.userForm.controls['lastname'].hasError('required')"
            class="error">Last name is required.
          </div>
        </div>
        <div class="col-xs-2"><input class='form-control' [(ngModel)]="currentUser.email" formControlName="email" type="text" placeholder="Email"
            required>
          <div *ngIf="!this.userForm.controls['email'].valid && this.userForm.controls['email'].touched && this.userForm.controls['email'].hasError('required')"
            class="error">Email is required.
          </div>
          <div *ngIf="!this.userForm.controls['email'].valid && this.userForm.controls['email'].touched && this.userForm.controls['email'].hasError('email')"
            class="error">Please enter a valid email.
          </div>
        </div>
        <div class="dropdown col-xs-2">
          <select class="form-control dropdown-toggle col-xs-12" #role (change)="changeRoleDetails($event)" [(ngModel)]="currentUser.role_id"
            formControlName="role" placeholder="Role">
                  <option value="" selected>Role</option>
                  <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
              </select>
          <div *ngIf="!this.userForm.controls['role'].valid && this.userForm.controls['role'].touched && this.userForm.controls['role'].hasError('required')"
            class="error">Role is required.
          </div>
        </div>
      </div>
      <div class="col-xs-12" style="margin-top:10px">
        <div *ngIf="isNew">
          <div class="col-xs-3"><input class='form-control' [(ngModel)]="currentUser.password" formControlName="password" type="password" placeholder="password"
              required>
            <div *ngIf="!this.userForm.controls['password'].valid && this.userForm.controls['password'].touched && this.userForm.controls['password'].hasError('required')"
              class="error">Password is required.
            </div>
          </div>
          <div class="col-xs-3"><input class='form-control' [(ngModel)]="currentUser.confirm_password" formControlName="confirmPassword" type="password"
              placeholder="confirm password" required>
            <div *ngIf="!this.userForm.controls['confirmPassword'].valid && this.userForm.controls['confirmPassword'].touched && this.userForm.controls['confirmPassword'].hasError('required')"
              class="error">Confirm password is required.
            </div>
            <div *ngIf="!this.userForm.controls['confirmPassword'].valid && this.userForm.controls['confirmPassword'].touched && this.userForm.controls['confirmPassword'].hasError('MatchPassword')"
              class="error">Both the passwords should be same.
            </div>
          </div>
        </div>
        <div class="dropdown col-xs-3">
          <select class="form-control dropdown-toggle col-xs-12" #businessUnit (change)="changeBusinessUnit($event)" [(ngModel)]="currentUser.business_unit_id"
            formControlName="businessunit" placeholder="businessunit">
                  <option value="" selected>Business Unit</option>
                  <option *ngFor="let businessUnit of businessUnits" [value]="businessUnit.id">{{businessUnit.name}}</option>
              </select>
          <div *ngIf="!this.userForm.controls['businessunit'].valid && this.userForm.controls['businessunit'].touched && this.userForm.controls['businessunit'].hasError('required')"
            class="error">Business Unit is required.
          </div>
        </div>
        <div class="form-check col-xs-1">
          <label class="form-check-label">
                <input class="form-check-input" ngDefaultControl type="checkbox" [checked]="status" (change)="onStatusChange($event)"  [value]="status" formControlName="status"> Active
              </label>
        </div>
      </div>
    </div>
    <div class="col-xs-2"><button type="submit" class="btn btn-success button-spacing" style="margin-left: 17px;margin-top:20px;" [disabled]="userForm.invalid">Save</button></div>
  </div>
  <table class="table table-striped table-responsive table-bordered ">
    <thead>
      <tr>
        <th>User Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Business Unit</th>
        <th>Role</th>
        <th>Active</th>
        <th>Created</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" (click)="editUser(user)">
        <td>{{user.username}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.BusinessUnit.name}}</td>
        <td>{{user.Role.name}}</td>
        <td>{{user.status}}</td>
        <td>{{user.created_at | date: 'y-MM-dd HH:mm:ss'}}</td>
        <td>{{user.updated_at | date: 'y-MM-dd HH:mm:ss'}}</td>
      </tr>
    </tbody>
  </table>
</form>